<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.dao.GoodsDao">
    <select id="findGoodsByPage" resultType="com.java.pojo.Goodstable">
        select * from goodstable
        <where>
            <if test="gName!=null and gName!=''">
                and gName like concat('%',#(gName),'%')
            </if>
        </where>
    </select>

    <select id="findById" resultType="com.java.pojo.Goodstable">
        select * from goodstable
        <where>
            <if test="id !=null and id !=''">
                and id = #{id}
            </if>
        </where>
    </select>

    <delete id="deleteById">
        delete from goodstable
        where
        0=0
        <if test="id !=null and id !=''">
            and `id` = ${id}
        </if>
    </delete>

    <update id="goodUpdate">
        update goodstable
        <set>
            gname = #{gName},
            goprice = #{gOprice},
            grprice = #{gRprice},
            gstore =  #{gStore},
            gpicture =  #{gPic},
            goodstype_id = #{goodstypeid}
        </set>
        where
        0=0
        <if test="id !=null and id !=''">
            and `id` = ${id}
        </if>
    </update>

</mapper>