<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.dao.UserDao">
    <select id="findUserList" resultType="com.java.pojo.User">
       select * from busertable
    </select>

    <delete id="deleteUser">
        delete from busertable where bemail=#{bemail}
    </delete>

    <!--登录-->
    <select id="login" resultType="com.java.pojo.User" parameterType="String">
    select bemail, bpwd from busertable
    WHERE  bemail = #{bemail} AND bpwd= #{bpwd}
    </select>

    <insert id="regist" parameterType="com.java.pojo.User">
  insert into busertable (bemail,bpwd)
  values (#{bemail}, #{bpwd})
</insert>
    <select id="findById" resultType="com.java.pojo.User">
        select * from busertable
        <where>
            <if test="bemail !=null and bemail !=''">
                and bemail = #{bemail}
            </if>
        </where>
    </select>
</mapper>